<section class="login flex justify-center pt-8">

    <div class="w-full max-w-xs">
        <form action="/register" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-2">
            
            <% if(messages.error){
                %>
                <span class="text-red-500 text-sm"><%= messages.error %></span>
                <%

            } %>
     
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    Name
                </label>
                <input name="name" value="<%= messages.name %>"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="name" type="text" placeholder="Enter item name">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="price">
                    Price
                </label>
                <input name="price" value="<%= messages.email %>"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="price" type="email" placeholder="Enter item price">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="size">
                    Size
                </label>
                <input name="size"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="size" type="text" placeholder="Enter item size">
            </div>
            <div class="mb-6">
                <label class="inline-block text-gray-700 text-sm font-bold mb-2" for="image">File Upload</label>
                <div class="flex items-center justify-center w-full">
                    <label class="flex flex-col w-full h-32 border-4 border-orange-200 border-dashed hover:bg-gray-100 hover:border-gray-300">
                        <div class="flex flex-col items-center justify-center pt-7">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-gray-400 group-hover:text-gray-600"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                            </svg>
                            <p class="pt-1 text-sm tracking-wider text-gray-400 group-hover:text-gray-600">
                                    Attach a file</p>
                        </div>
                        <input id="image" type="file" class="opacity-0" />
                    </label>
                </div>
            </div>
            <div class="flex items-center justify-between">
                <button 
                class="btn-primary bg-orange-600 px-4 py-2 rounded-full text-white font-bold focus:outline-none focus:shadow-outline"
                type="submit">
                Add
                </button>

                <button 
                class="btn-primary bg-orange-600 px-4 py-2 rounded-full text-white font-bold focus:outline-none focus:shadow-outline"
                type="submit">
                Cancel
                </button>

                
            </div>
        </form>
    </div>

</section>