<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All orders</h1>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Orders</th>
                    <th class="px-4 py-2 text-left">Customer</th>
                    <th class="px-4 py-2 text-left">Phone</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">Status</th>
                    <th class="px-4 py-2 text-left">Placed At</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
                <!-- <tr>
                    <td class="p-4"><span>No orders found!</span></td>
                </tr> -->
                <!-- data populated using Ajax Call & javascript -->
            </tbody>
        </table>
    </div>
</section>